html > body {
    font-family: "Roboto", serif;
    background: #353740;
    color: snow;
    transition: 150ms;
}

.header-1 {
    font-weight: 600;
    font-size: 2em;
}

.label-1 {
    font-weight: 400;
    font-size: 1em;
}

.hr-orange {
    height: 1px;
    border-top: 1px solid darkorange;
    padding: 0;
    margin: 0;
}

.question-text {
    font-size: 1.3em;
    font-weight: 500;
    color: #ededed;
}

.option-1 {
    font-size: 1.3em;
    font-weight: 300;
    color: #ededed;
}

.option-2 {
    border: 1px solid #2f313a;
}

.correct-answer {
    border: 1px solid darkgreen;
    background: green;
}

.wrong-answer {
    border: 1px solid darkred;
    background: rgba(255, 0, 0, 0.18);
}

.selected-option {
    border: 1px solid darkorange;
    background: #292b34;
}

#questions, #resultContainer {
    display: none;
}


.result {
    font-size: 3em;
    font-weight: 300;
}

input[type=radio] {
    border: 0;
    height: 20px;
    width: 20px;
}

.download-btn {
    background: green;
    font-weight: 500;
    font-size: 2em;
    color: snow;
}

.download-btn:hover {
    color: snow;
    text-decoration: none;
}

.info-container {
    background: #1e2027;
}

.info-header {
    font-weight: 300;
    font-size: 1.4em;
}

.info-header:hover {
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#info-container {
    display: none;
}

.inputFile {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-btn {
    color: black;
    font-size: 1.3em;
    font-weight: 500;
    background: darkorange;
}

.btn-orange-primary {
    text-align: center;
    color: snow;
    border: 2px solid darkorange;
    font-weight: 500;
    font-size: 1em;
    background: darkorange;
    border-radius: 5px;
}

.btn-orange-primary:hover {
    color: snow;
    text-decoration: none;
    background: #c66900;
    cursor: pointer;
}

.btn-orange-secondary {
    text-align: center;
    border-radius: 5px;
    color: snow;
    font-size: 1em;
    background-color: #2a2c33;
    border: 2px solid darkorange;
}

.btn-orange-secondary:hover {
    color: snow;
    cursor: pointer;
    background: #2f3340;
    text-decoration: none;
}

.btn-orange-secondary-borderLess {
    text-align: center;
    border-radius: 5px;
    color: snow;
    font-size: 1em;
    background-color: #2a2c33;
}

.btn-orange-secondary-borderLess:hover {
    color: snow;
    cursor: pointer;
    background: #2f3340;
    text-decoration: none;
}


/*
    *custom styles for Sweet alert
*/
.swal-button {
    background-color: #1e2027;
    border: 2px solid darkorange;
}


.swal-modal {
    background-color: #1e2027;
    border: 2px solid darkorange;
}

.swal-title {
    color: snow;
}

.swal-text {
    color: snow;
}


/*
    *styles for snow
*/
.snow-label {
    font-size: 0.7em;
}

.snow-label-disabled {
    color: #bfbfbf;
}

@media all and (min-width: 576px) {
    .mt-container {
        margin-top: 5%;
    }
    .container-box {
        background: #2d2f39;
        border: 2px solid darkorange;
    }
}

#testParams, #wrongAnswersContainer, #generateFile {
    display: none;
}

.params-label {
    color: darkorange;
}

.params-label:hover {
    background: #222330;
    border-radius: 4px;
}

.result-label-1 {
    font-weight: 300;
    font-size: 1.5em;
}

.result-type-text {
    font-size: 0.8em;
}

.result-box {
    border-radius: 0.1em;
    background: #2d2f39;
    display: flex;
    height: 100%;
}